@import url(./normalize.css);
@import url(./about.css);
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,200;1,300&family=Sarala:wght@400;700&display=swap');

.page { 
    font-family: 'IBM Plex Serif', serif;
    background-image: url(../images/coding-background.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.header{
    width: 100%;
    justify-content: space-around;
    background-color: #000000;
    opacity: 70%;
    border-radius: 30px;
}
.header:hover {
    box-shadow: 2px 2px 2px red;
}
.menu_nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
}
.menu_links {
    list-style: none;
    display: flex;
}
.menu_links-element{
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    line-height: 1.15;
    color: #ffffff;
    font-weight: bold;
    
}
.menu_links-element:hover {
    color: orangered;
    font-weight: bold;
    transform: scale(1.1);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-size: 20px;
}