@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,200;1,300&family=Sarala:wght@400;700&display=swap");

.page {
  font-family: "IBM Plex Serif", serif;
  background-image: url(../images/coding-background.jfif);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}
/*---------------------------------- inicio do Header ----------------------------------*/
.header {
  width: 100%;
  justify-content: space-around;
}

.menu_nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
}
.menu_links {
  list-style: none;
  display: flex;
}

.menu_links-element {
  text-decoration: none;
  font-family: "Sarala", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  color: #ffffff;
  font-weight: bold;
}
.menu_links-element:hover {
  color: orangered;
  font-weight: bold;
  transform: scale(1.1);
  transition: color 0.3s ease-in-out, transform 0.3s linear;
  font-size: 20px;
}
/*---------------------------------- inicio da pagina ----------------------------------*/
.contain {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
.card:hover {
  box-shadow: 10px 10px 10px rgb(24, 44, 223);
}
.card__image {
  width: 50%;
  height: auto;
  margin: 0 25% 10px;
  border-radius: 50%;
}

.card__title {
  color: #000;
  font-size: 18px;
  margin-bottom: 30px;
  font-family: "sarala", sans-serif;
  text-align: center;
}

.card__text {
  font-size: 14px;
  color: #555;
  text-align: justify; /* Adicionado para justificar o texto */
  row-gap: 30px;
}

/*---------------------------------- inicio do footer ----------------------------------*/

.footer__card {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  list-style: none;
  column-gap: 10px;
  background-color: #ffffff;
  opacity: 70%;
  border-radius: 20px;
  padding: 0;
}
.footer__card__link {
}
.footer__card__link:hover {
  background-color: #000000;
  border-radius: 45%;
  transition: background-color 0.3s ease-in-out, opacity 0.1s ease-in-out;
}
.footer__card__images {
  width: 20px;
  padding: 10px;
}
.accent-transition {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.accent-transition.show {
  opacity: 1;
}
