@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,200;1,300&family=Sarala:wght@400;700&display=swap');

.page { 
    font-family: 'IBM Plex Serif', serif;
    background-image: url(../images/pexels-shawn-stutzman-1010496.jpg);
    background-color: #f1f1f1;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.header{
    width: 100%;
    justify-content: space-around;
    background-color: #fff;
    opacity: 70%;
    border-radius: 30px;
}
.menu_nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
}
.menu_links {
    list-style: none;
    display: flex;
}
.menu_links-element{
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    line-height: 1.15;
    color: #000000;
    font-weight: bold;
    
}
.menu_links-element:hover {
    color: orangered;
    font-weight: bold;
    transform: scale(1.1);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-size: 20px;
}
/*aquie termina o meu header e começa o meu conteudo principal */
.contain {
    display: flex;
    margin: auto 0;
}
.contain__text {
    display: flex;
    width: 30%;
    flex-direction: column;
    margin: 70px auto;
}
.title {
    width: 100%;
    font-family: 'sarala' sans-serif;
    color: #f1f1f1;
    margin: 20px auto 10px 30px;
    font-size: 90px;
    font-weight: bold;
    line-height: 1.15;
    padding: 0 0 20px 0;
}
.text {
    width: 50%;
    font-family: 'sarala' sans-serif;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.15;
    margin: 0 auto;
    text-align: center;
}
.card {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    list-style: none;
    column-gap: 10px;
    background-color: #fff;
    opacity: 70%;
    border-radius: 20px;
    padding: 0;
}
.card__link {
    
}
.card__link:hover {
    background-color: #000;
    opacity: 0.8;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
.card__images {
    width: 20px;
    padding: 10px;
}
.accent-transition {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  .accent-transition.show {
    opacity: 1;
}
